
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      color: #000000;
    }


    header {
      background-color: #4CAF50;
      color: white;
      padding: 1em;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 1em;
      padding: 0;
      margin: 0;
    }

    nav a {
      color: white;
      text-decoration: none;
    }

    article {
      padding: 2em;
      background-color: white;
      margin: 1em;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      text-align: center;
    }

    footer {
      background-color: #000000;
      color: white;
      text-align: center;
      padding: 1em;
      font-size: 0.9em;
    }

    footer p {
      margin: 0.5em 0;
    }

    .cta-button {
      display: inline-block;
      background: linear-gradient(135deg, #397a69 0%, #34495e 100%);
      color: white;
      padding: 10px;
      text-decoration: none;
      border-radius: 25px;
      font-weight: bold;
      transition: all 0.3s ease;
      box-shadow: 0 4px 15px #36495d 100%;
    }
  