
{% block title %}

{% endblock %}

{% block content %}
<div style="text-align: center; padding: 50px;">
    <h1 style="font-size: 4em; color: #0f0e0e;">NO SE ENCUENTRA</h1>
    <p style="font-size: 1.5em;">Parece que esta página se ha perdido en el espacio...</p>
    <img src="https://www.pngkey.com/png/detail/147-1473883_404-error-404-not-found-png.png" alt="404 astronauta perdido" style="max-width: 300px; margin: 30px auto;">
    <p style="font-size: 1.2em;">Pero no te preocupes, puedes regresar a un lugar seguro:</p>
    <a href="/" style="display: inline-block; margin-top: 20px; padding: 12px 24px; background-color: #177206; color: rgb(8, 3, 3); text-decoration: none; border-radius: 5px;">Volver al Inicio</a>
</div>
{% endblock %}